/* font-family: "Poppins", sans-serif; */
:root{
  --pink: #FDCEDF;
  --light-blue: #CAE9F6;
  --light-green: #8DB596; 
  --dark-green: #1F7D53;
  --beige: #FAF1E6;
}

body{
  background-color: var(--light-green);
}

.card{
  background-color: var(--beige);
  height: 33vh;
  width: 13vw;
  border-radius: 20px;
  border-width: 1px;
}

.AI-cards{
  /*Card display and coloring*/
  border-color: var(--beige);
  display: flex;
  
  /*Border shenanigans (spacing between them, shape, coloring, etc)*/
  border-style: dotted;
  height: 35vh;
  width: 29vw;
  border-radius: 20px;
  justify-content: space-evenly;
  

  /*Position on the screen (This puts it on the top center)*/
  align-items: center;
  position: fixed; 
  top: 50px; 
  left: 50%;
  transform: translateX(-50%);
}


.deck
{
  position: fixed;
  width: 13vw;
  height: 33vh;
  margin: 100px auto;
}

.human-cards
{
  border-style: dotted;
  height: 35vh;
  width: 29vw;
  border-radius: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-color: var(--beige);
  position: fixed; 
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}





