



/*Moves card from the deck to the mat (spot on the left)*/
.deck.move-to-player-mat
{
    transform: translate(calc(100vw - 150px), calc(100vh - 150px)); /*Location of where the card will be flipped*/
    animation: left-to-right 1s ease-in; 
}

.deck.move-to-dealer-mat
{
    transform: translate(calc(100vw - 150px), calc(100vh - 150px)); /*Location of where the card will be flipped*/
    animation: left-to-right 1s ease-in; 
}





/*Moves the other card from the right to the left to make room for other cards*/
.deck.move-to-right-mat
{
    transform: translate(calc(100vw - 150px), calc(100vh - 150px)); /*Location of where the card will be flipped*/
    animation: right-to-left 1s ease-in; 
}

  